<nav class="primary-navigation" #primaryNavigation>
  <div class="nav-content">
    <div class="logo-name">
      <a href="/#jumbotron" class="logo-name"
        >nabin<span class="blink-text">_</span></a
      >
    </div>

    <div class="nav-menus">
      <div class="nav-menu hide-sm">
        <a href="/#about">About</a>
      </div>
      <div class="nav-menu hide-sm">
        <a href="/#experience">Experience</a>
      </div>
      <div class="nav-menu hide-sm">
        <a href="/#contact">Contact</a>
      </div>

      <div class="nav-menu hide-sm">
        <span
          class="material-symbols-outlined theme-icon"
          (click)="changeTheme('light')"
          *ngIf="isDarkTheme"
        >
          light_mode
        </span>
        <span
          class="material-symbols-outlined theme-icon"
          (click)="changeTheme('dark')"
          *ngIf="!isDarkTheme"
        >
          dark_mode
        </span>
      </div>
      <div class="nav-menu menu-open-icon" (click)="sideMenuClicked()">
        <span class="material-symbols-outlined theme-icon"> menu_open </span>
      </div>
    </div>
  </div>
</nav>

<div class="side-nav-menu" *ngIf="isSideMenuOpen">
  <div class="close-div">
    <div (click)="sideMenuClicked()">
      <span class="material-symbols-outlined"> close </span>
    </div>
    <div (click)="sideMenuClicked()">
      <span
        class="material-symbols-outlined theme-icon"
        (click)="changeTheme('light')"
        *ngIf="isDarkTheme"
      >
        light_mode
      </span>
      <span
        class="material-symbols-outlined theme-icon"
        (click)="changeTheme('dark')"
        *ngIf="!isDarkTheme"
      >
        dark_mode
      </span>
    </div>
  </div>
  <div class="side-nav-menus">
    <div class="nav-menu" (click)="sideMenuClicked()">
      <a href="/#jumbotron">Home</a>
    </div>
    <div class="nav-menu" (click)="sideMenuClicked()">
      <a href="/#about">About</a>
    </div>
    <div class="nav-menu" (click)="sideMenuClicked()">
      <a href="/#experience">Experience</a>
    </div>
    <div class="nav-menu" (click)="sideMenuClicked()">
      <a href="/#contact">Contact</a>
    </div>
  </div>
</div>
