<div>
  <div class="pg-header">Professional Experience</div>

  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position">Full Stack Software Engineer @ Adia</span>
      </div>
      <div class="from-to">Feb, 2022 to present</div>
    </div>
    <div class="exp-content">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        necessitatibus soluta consequatur id laudantium itaque, velit odit
        cumque neque beatae optio doloremque nam eveniet autem explicabo rem,
        quas tempore error.
      </div>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
        perspiciatis repudiandae aliquid tempora molestiae sint deleniti nulla
        aut est dolore! Odit odio fugit possimus veniam rem explicabo. Incidunt,
        saepe rem!
      </div>
    </div>
  </div>

  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position"
          >Advanced Software Engineer @ Jack Henry and Associates</span
        >
      </div>
      <div class="from-to">Apr, 2018 to Feb 2022</div>
    </div>
    <div class="exp-content">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        necessitatibus soluta consequatur id laudantium itaque, velit odit
        cumque neque beatae optio doloremque nam eveniet autem explicabo rem,
        quas tempore error.
      </div>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
        perspiciatis repudiandae aliquid tempora molestiae sint deleniti nulla
        aut est dolore! Odit odio fugit possimus veniam rem explicabo. Incidunt,
        saepe rem!
      </div>
    </div>
  </div>

  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position"
          >Software Engineer @ Management Science Associates</span
        >
      </div>
      <div class="from-to">May, 2016 to Apr 2018</div>
    </div>
    <div class="exp-content">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        necessitatibus soluta consequatur id laudantium itaque, velit odit
        cumque neque beatae optio doloremque nam eveniet autem explicabo rem,
        quas tempore error.
      </div>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
        perspiciatis repudiandae aliquid tempora molestiae sint deleniti nulla
        aut est dolore! Odit odio fugit possimus veniam rem explicabo. Incidunt,
        saepe rem!
      </div>
    </div>
  </div>

  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position"
          >Software Engineer (Contract Position) @ Encima Technology Inc</span
        >
      </div>
      <div class="from-to">Nov, 2014 to May 2016</div>
    </div>
    <div class="exp-content">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        necessitatibus soluta consequatur id laudantium itaque, velit odit
        cumque neque beatae optio doloremque nam eveniet autem explicabo rem,
        quas tempore error.
      </div>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
        perspiciatis repudiandae aliquid tempora molestiae sint deleniti nulla
        aut est dolore! Odit odio fugit possimus veniam rem explicabo. Incidunt,
        saepe rem!
      </div>
    </div>
  </div>

  <div class="pg-header">Education</div>
  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position"
          >BSc. in Electrical and Electronics Engineering</span
        >
      </div>
      <div class="from-to">May, 2014</div>
    </div>
    <div class="exp-content">
      <div>University of Texas At Arlington, Arlington, TX</div>
    </div>
  </div>

  <div class="expe-wrapper">
    <div class="exp-header-wrapper">
      <div class="experience-header">
        <span class="position">MBA in Project Management</span>
      </div>
      <div class="from-to">May, 2019</div>
    </div>
    <div class="exp-content">
      <div>Amberton University, Garland, TX</div>
    </div>
  </div>
</div>

<div class="resume-content">
  <div class="list-headers">
    <button class="active">Adia Works</button>
    <button>
      Jack Henry <br />
      and Associates
    </button>
    <button>
      Management <br />
      Science Associates
    </button>
    <button>
      Encima <br />
      Technology Inc
    </button>
    <button>Education</button>
  </div>
  <div class="contents">
    <div class="header">
      Software Engineer
      <span class="company-name">@Adia</span>
    </div>
  </div>
</div>
